<div class="propose">
    <div class="bar-outer" id="time">
        <div class="bar-inner"></div>
    </div>

    <h2>propose new legislation</h2>

    <div>
        <select class="proposals" name="type">
            {{#each proposals}}
                <option data-type="{{ type }}" value="{{ type }}">{{ name }}</option>
            {{/each}}
        </select>
    </div>

    <div class="proposal"></div>

    <div class="make-proposal">
        <button>Submit</button>
    </div>
</div>
