<div class="vote">
    <div class="bar-outer" id="time">
        <div class="bar-inner"></div>
    </div>

    <h2>proposed legislation</h2>
    <h4>{{ type }}</h4>
    <h4>{{ target }}</h4>
    <h4>A description of what the proposed legislation does</h4>
    <h4>{{ value }}</h4>

    <div class="cast-vote">
        <button value='true'>YES</button>
        <button value='false'>NO</button>
    </div>
</div>
