<div class="vote">
    <div class="bar-outer" id="time">
        <div class="bar-inner"></div>
    </div>

    <h2>Proposal</h2>
    <h4>{{ proposal.type }}</h4>
    <h4>{{ proposal.target }}</h4>
    <h4>{{ proposal.value }}</h4>

    <div class="cast-vote">
        <button value='true'>YES</button>
        <button value='false'>NO</button>
    </div>
</div>
