html, body {
    
}

canvas {
    margin: 4em auto;
    display: block;
    z-index: 1;
}

.stage-wrapper {
    width: 100%;
    position: absolute;
    z-index: 5;
}

.graph {
    position: relative;
}

.axis text { display: none; }

.graphs h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.legend {
    list-style-type: none;
    padding: 1em;
}
.color {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    margin-right: 0.5em;
}

.dashboard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.twooter {
    background: #2b00f7;
    color: #fff;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 5em;
    position: relative;
    /*position: absolute;
    bottom: 0;
    left: 0;*/
}

.twooter-breaking {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    overflow: hidden;
}

.marquee {
  width: 75%;
  margin-left: 25%;
  overflow: hidden;
  color: #fff;
}

.twotter-header {
    margin-left: 5em;
}

.twoot {
    /*background: #fff;*/
    padding: 1em;
    margin: 0;
    /*border: 1px solid #ddd;*/
    /*border-bottom: none;*/
}
.twoot:last-child {
    /*border-bottom: 1px solid #ddd;*/
}
.twooter-header {
}
.twooter-brand {
    width: 3em;
}
.twooter-feed {
    list-style-type: none;
    margin: 0em auto 1em;
}
.twoot-by {
    font-size: 0.8em;
}
.twoot-meta {
    color: #aaa;
}
.twoot-time:before {
    content: "\00b7";
}
.twoot-author {
    font-weight: bold;
    cursor: pointer;
}
.twoot-content {
    font-size: 1.2em;
    margin: 0;
}



button {
    background: #fff;
    margin: 0 auto 2em auto;
    display: block;
}
.step-simulation {
    display: none;
}

.omni {
    position: absolute;
    z-index: 2;
    top: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
.start-simulation {
    display: none;
}

.city-stats {
    width: 100%;
    z-index: 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(43, 0, 247, 1);
    color: #fff;
    z-index: 3;
    overflow-y: scroll;
}
.overlay-content {
    margin: 2em auto;
    padding: 2em;
    width: 48em;
}

.actions {
    clear: both;
}

.government {
    float: left;
    text-align: left;
    color: #303030;
}
