html, body {
    font-family: 'M+ P Type-2 (basic latin) Thin';
}

canvas {
    margin: 4em auto;
    display: block;
    z-index: 1;
}

.wrapper {
    background: rgba(163,230,255,1);
    background: -moz-linear-gradient(top, rgba(163,230,255,1) 0%, rgba(255,222,219,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,230,255,1)), color-stop(100%, rgba(255,222,219,1)));
    background: -webkit-linear-gradient(top, rgba(163,230,255,1) 0%, rgba(255,222,219,1) 100%);
    background: -o-linear-gradient(top, rgba(163,230,255,1) 0%, rgba(255,222,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(163,230,255,1) 0%, rgba(255,222,219,1) 100%);
    background: linear-gradient(to bottom, rgba(163,230,255,1) 0%, rgba(255,222,219,1) 100%);
}

.stage-wrapper {
    width: 100%;
    position: absolute;
    z-index: 5;
}

.graph {
    position: relative;
}

.graphs h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.graph-right {
    position: absolute;
    top: 5em;
    left: 0;
}

.graph-left {
    position: absolute;
    top: 5em;
    right: 0;
}

//.axis text { display: none; }

.legend {
    list-style-type: none;
    padding: 1em;
    bottom: 10em;
    left: 30%;
    position: absolute;
    background: #a7e4ae;
}
.color {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    margin-right: 0.5em;
}

.dashboard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.twooter {
    display: none;
    background: #2b00f7;
    color: #fff;
    width: 100%;
    height: 7em;
    position: relative;
    /*position: absolute;
    bottom: 0;
    left: 0;*/
}

.twooter-breaking {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    overflow: hidden;
}

.marquee {
  width: 100%;
  margin-left: 16em;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
}

.twoot {
    /*background: #fff;*/
    padding: 1em;
    margin: 1em 0 0 0;
    display: inline-block;
    list-style-type: none;
    /*border: 1px solid #ddd;*/
    /*border-bottom: none;*/
}
.twoot:last-child {
    /*border-bottom: 1px solid #ddd;*/
}
.twooter-brand {
    width: 3em;
}
.twooter-feed {
    list-style-type: none;
    margin: 0em auto 1em;
}
.twoot-by {
    font-size: 0.8em;
}
.twoot-meta {
    color: #aaa;
}
.twoot-time:before {
    content: "\00b7";
}
.twoot-author {
    font-weight: bold;
    cursor: pointer;
}
.twoot-content {
    font-size: 1.2em;
    margin: 0;
}



button {
    background: #fff;
    margin: 0 auto 2em auto;
    display: block;
}
.step-simulation {
    display: none;
}

.omni {
    position: absolute;
    z-index: 10;
    top: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
.start-simulation {
    display: none;
}

.city-stats {
    width: 100%;
    z-index: 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(43, 0, 247, 1);
    color: #fff;
    z-index: 15;
    overflow-y: scroll;
}
.overlay-content {
    margin: 0 auto;
    padding: .5em;
}

.world-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.food_1{background-image:url(http://www.canadianbusiness.com/wp-content/uploads/2014/03/14.jpg);}
.food_2{background-image:url(http://www.kerio.com/sites/default/files/mcdonalds-logo.png);}
.food_3{background-image:url(http://eatsomegreen.com/wp-content/uploads/2013/07/corn.jpg);}

.equipment_1{background-image:url(http://datagearbox.com/includes/images/layout/Automation.jpg);}
.equipment_2{background-image:url(http://www.clker.com/cliparts/5/a/c/c/1356604702406402398people%20in%20the%20office2-md.png);}
.equipment_3{background-image:url(http://www.wildernesscollege.com/images/stonetoolphoto02.jpg);}

.world-selector input:active +.choice {opacity: .9;}
.world-selector input:checked +.choice {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.choice {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    /*-webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);*/
}
/*.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}*/

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.actions {
    clear: both;
}

.government {
    float: left;
    text-align: left;
    color: #303030;
}
