.players-joining {
    float: left;
}

.players {
    width: 100%;
    color: #fff;
}

.players .left {
    width: 40%;
    float: left;
}

.players .right {
    width: 60%;
    float: left;
}

.players ul {
    float: left;
    width: 100%;
    margin: 0;
}

.players ul li, .players-joining ul li {
    float: left;
    list-style-type: none;
    margin: 0 3em 0 0;
}

.players ul li.template, .players-joining ul li.template {
    display: none;
}


.pic {
    border-radius: 999px;
    width: 50px;
    max-width: auto;

}

.vote-1 {
    border-bottom: 20px solid red;

}

.vote-0 {
    border-bottom: 20px solid green;
}