{% extends 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/city.css">
{% endblock %}

{% block content %}

<canvas id="stage"></canvas>

<div class="twooter">
    <header class="twooter-header">
        <img src="/static/img/twooter.svg" class="twooter-brand">
    </header>
    <ul class="twooter-feed">
        <li class="twoot">
            <div class="twoot-by"><span class="twoot-author">jack</span> <span class="twoot-meta">@jack <span class="twoot-time"> 45m</span></span></div>
            <p class="twoot-content">just setting up my twooter</p>
        </li>
    </ul>
</div>

<button class="start-simulation">simulate</button>

<div class="overlay">
    <div class="overlay-content">
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
<script src="/static/js/templates.js"></script>
<script src="/static/js/util.js"></script>
<script data-main="/static/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>

{% endblock %}
