{% extends 'layout.html' %}
{% block content %}

<div class="work">
    <h1>at work</h1>
    <div class="bar-outer" id="time">
        <div class="bar-inner"></div>
    </div>

    <div class="bar-outer" id="energy">
        <div class="bar-inner"></div>
    </div>

    <div class="bar-outer" id="health">
        <div class="bar-inner"></div>
    </div>

    <div class="cash"></div>

    <div class="workspace">
        (click here)
    </div>
</div>

<div class="home">
    <h1>home sweet home</h1>
    <div class="cash"></div>
    <ul class="actions">
        <li class="action-work">go to work</li>
        <li>rest</li>
        <li>find job</li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script>
function renderBar(p, id) {
    var bar = $('#'+id),
        width = bar.width();
    bar.find('.bar-inner').width(p * width);
}

$(function() {
    var fps = 30,
        cash = 0,
        totalEnergy = 100,
        energy = totalEnergy,
        totalHealth = 100,
        health = totalHealth;

    var Game = {
        setState: function(state) {
            if (this.state) {
                this.state.destroy();
                if (this.updateInterval) {
                    clearInterval(this.updateInterval);
                }
            }

            this.state = state;
            this.state.create();
            this.updateInterval = setInterval(state.update.bind(state), 1/fps * 1000);
        }
    }

    var Work = {
        create: function() {
            $('.work').show();
            this.totalTime = 30 * fps;
            this.time = this.totalTime;

            this.cashInterval = setInterval(function() {
                cash += 1;
            }, 1000);

            // when time is up, end work state
            var self = this;
            setTimeout(function() {
                clearInterval(self.cashInterval);
                Game.setState(Home);
            }, 30 * 1000);
        },
        update: function() {
            this.time--;
            renderBar(this.time/this.totalTime, 'time');

            energy += 4/fps;
            energy = Math.min(energy, totalEnergy);
            renderBar(energy/totalEnergy, 'energy');

            renderBar(health/totalHealth, 'health');

            $('.cash').text('$' + cash);
        },
        destroy: function() {
            $('.work').hide();
        }
    };

    var Home = {
        create: function() {
            $('.home').show();
        },
        update: function() {
            $('.cash').text('$' + cash);
        },
        destroy: function() {
            $('.home').hide();
        }
    }

    Game.setState(Home);

    // "work"
    $('.workspace').on('click', function() {
        var text = _.sample(['nice work', 'good job', 'keep at it', 'doing great']);
        $('.workspace').text(text);
        energy -= 4;
        cash += 0.5;
        if (energy < 0) {
            health -= 10;
        }
        energy = Math.max(energy, 0);
    });

    $('.action-work').on('click', function() {
        Game.setState(Work);
    });
});
</script>

{% endblock %}
