<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOSNY User Interface</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/main.css">

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="column" style="">
          <h4>Simulator</h4>
          <div class="grd">
            <div class="grd-row">
              <form action="">
                <div class="grd-row-col-2-6">
                    <label>Race</label>
                    <select name="race">
                        <option value="1" selected>White</option>
                        <option value="2">Black</option>
                        <option value="3">American Indian or Alaskan Native</option>
                        <option value="4">Chinese</option>
                        <option value="5">Japanese</option>
                        <option value="6">Other Asian or Pacific Islander</option>
                        <option value="7">Other</option>
                        <option value="8">Two major races</option>
                        <option value="9">Three or more major races</option>
                    </select>
                    <label>Education</label>
                    <select name="education">
                        <option value="0" selected>None</option>
                        <option value="1">Preschool through 4th grade</option>
                        <option value="2">5th grade through 8th grade</option>
                        <option value="3">9th grade</option>
                        <option value="4">10th grade</option>
                        <option value="5">11th grade</option>
                        <option value="6">12th grade</option>
                        <option value="7">College freshman</option>
                        <option value="8">College sophomore</option>
                        <option value="9">College junior</option>
                        <option value="10">College senior</option>
                        <option value="11">Post graduate</option>
                    </select>
                    <label>Employment</label>
                    <select name="employment">
                        <option value="0" selected>None</option>
                        <option value="1" >Employed</option>
                        <option value="2" >Unemployed</option>
                        <option value="3" >Non labor</option>
                    </select>
                </div>
                <input type="submit" value="Submit">
              </form>
        </div>
        <h4>Log</h4>
        <ul class="messages">
        </ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script>
        var socket = io();
        $(function() {
            $("form").on("submit", function(ev) {
                ev.preventDefault();
                $('.messages').empty();

                $.ajax({
                    type: "POST",
                    url: "/simulate",
                    data: JSON.stringify({
                        race: $('[name=race]').val(),
                        education: $('[name=education]').val(),
                        employment: $('[name=employment]').val()
                    }),
                    contentType: "application/json",
                    success: function(data, textStatus, jqXHR) {
                        // console.log("success");
                    }
                });

                return false;
            });
            socket.on("log", function(data){
                $(".messages").append("<li>"+data.msg+"</li>");
            });
        });
    </script>
  </body>
</html>