{% extends 'layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/loader.css">
{% endblock %}

{% block content %}

<div class="player-bg"></div>
<main>
    <div class="loader">
        <svg viewbox="-200 -150 400 150">
          <defs>
            <line id="ray" x1="-5" x2="5"></line>
            <clipPath id="cp">
              <rect x="-200" y="-150" width="400" height="150"></rect>
            </clipPath>
          </defs>
          <line id="line" x1="-76" x2="76"></line>
          <g id="sun" clip-path="url(#cp)">
            <g id="mover">
              <circle id="main" r="50"></circle>
              <g id="eyes">
                <circle r="3" cx="-13"></circle>
                <circle r="3" cx="13"></circle>
              </g>
              <g id="rays">
                <use xlink:href="#ray" transform="rotate(315) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(270) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(225) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(180) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(135) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(90) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(45) translate(70)"></use>
                <use xlink:href="#ray" transform="rotate(0) translate(70)"></use>
              </g>
            </g>
          </g>
        </svg>
        <h5 class="animate-pulse">waiting to join simulation...</h5>
    </div>
</main>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
<script src="/static/js/templates.js"></script>
<script src="/static/js/util.js"></script>
<script data-main="/static/js/player" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>

{% endblock %}
